$no_algos: 6;
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}

body{
    
    background-color: white;
    color: black;
}

nav
{
    background: linear-gradient(rgb(193, 98, 248),rgb(247, 202, 247));
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
    padding: 0% 5%;
    .array-inputs
    {
        display: grid;
        grid-template-columns: 60% 40%;
        place-content: center;
        padding: 5% 0%;
        
        #a_size
        {
            padding: 5% 0%;
        }
        #a_speed
        {
            padding: 5% 0%;
        }
        #a_generate
        {
            background-color: transparent;
            border: none;
            color:black;
            outline: none;
            padding: 6% 6%;
            border-radius: 5px;
            font-size: x-large;
            margin-top: 37px;
            &:hover
            {
                cursor: pointer;
                background-color: rgb(0, 204, 255);
                cursor: pointer;
                color:blue;
            }
            &:focus{
                background-color: white;
                color:green;
            }
        }
    }
    .header_right
    {
        display: flex;
        flex-direction: column;

        .nav-heading
        {
            display: inline-block;
            padding: 3% 0%;
        }
        .algos
        {
            display: flex;
            button
            {
                background-color: transparent;
                border: none;
                outline: none;
                color: black;
                padding: .7rem .7rem;
                margin-top: 74px;
                margin-bottom: 34px;
                margin-right: 23px;
                border-radius: 5px;
                font-size: x-large;
                &:hover
                {
                    cursor: pointer;
                    background-color: rgb(0, 204, 255);
                    cursor: pointer;
                    color:blue;
                }
                &:focus{
                    background-color: white;
                    color:green;
                }
            }

            .butt_locked
            {
                background-color: transparent;
                cursor: pointer;
                &:hover
                {
                    background-color: transparent;
                    cursor: pointer;
                }
            }
            .butt_selected
            {
                background-color: white;
                color:green;
                &:hover
                {
                    background-color: white;
                    cursor: pointer;
                }
            }
            .butt_unselected
            {
                &:hover
                {
                    background-color: rgb(0, 204, 255);
                    cursor: pointer;
                }
            }
        }
    }
}

section
{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    #Info_Cont1
    {
        padding: 20%;
    }
    #array_container
    {
        display: flex;
        width: 100%;
        height: 70vh;
    }
    #Info_Cont2
    {
        padding: 20%;
    }
}

.hide
{
    display: none;
}

.heading{
    font-size: xx-large;
    margin-top:34px;
}


.switch {
position: relative;
display: inline-block;
width: 55px;
height: 24px;
margin-top: 42px;
margin-left: 32px;
}


.switch input {
opacity: 0;
width: 0;
height: 0;
}


.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 16px;
width: 20px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
.container{
    display: flex;
}

#darkOrLight{
margin-top: 42px;
margin-left: 12px;
}